# List of all the files that will be ignored by git.
# Byte-compiled
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv
.venv

# Folder view configuration files.
.DS*
Desktop.ini

# Thumbnail cache files and backup files.
._*
.*~
Thumbs.db

# Files that might appear on external disks.
.Spotlight-V100
.Trashes

# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej

# Configuration files and caches.
.mypy_cache/
.ruff_cache/
.pytype/
monkeytype.sqlite3
.coverage/
.vscode/

# Claude Code project configuration
CLAUDE.md
CLAUDE.local.md
.claude/

# Emacs artifacts or files created by emacs
*~
\#*\#
*.elc
.#*
/custom.el
/local.el
/dev.el
package-state-cache.el
auto-save-list/
eln-cache/
elpa/
history
recentf
places
tramp-autosave/
tramp-cache
bookmarks
abbrev_defs
savehist
session.*
transient/
url/
forge-database.sqlite
projectile*
semanticdb/
srecode-map.el
eshell/
request/
anaconda-mode/
.org-id-locations
org-roam.db
straight/
var/
etc/
.cache/
.local/
network-security.data
